.container {
  width: 11rem;
  padding: 1rem;
  border-radius: 0.6rem;
  font-size: large;
  background-color: #ACC8E5
}

.nodeType {
  margin-bottom: 0.4rem;
}

.label {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.labelstyl {
  font-size: 0.9rem;
  margin-top: 0.1rem;
  margin-bottom: 0;
}

.txtarea {
  width: 10.5rem;
}

.autoTextaria {
  width: 10.5rem;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
}

.btnstyl {
  background-color: #9ab3cd;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;

}