.container {
     width: 11rem;
     height: 9rem;
     border: 1px solid black;
     padding: 0.6rem;  
     border-radius: 0.2rem;
     font-size:large;

    }

   .nodeType {
    margin-bottom: 0.4rem;
   } 

   .label {
    font-size:0.9rem;
    margin-bottom: 0.2rem;
   }

   .labelstyl {
    font-size:0.9rem;
    margin-top: 0.1rem;
    margin-bottom: 0;
   }

   .txtarea {
     width: 10.5rem;

   }